<div class="row">
    <div class="col-6 container">
        <h3>Results</h3>
        <div class="card" *ngFor="let property of propertyList">
            <div class="card-header">
                <img class="img-thumbnail " src={{property.agency.logo}}>
            </div>
            <div class="card-body" [ngClass]="{ background:property.agency.brandingColors.primary}">
                <img class="card-img-top main-img" src={{property.mainImage}}>
                <div class="card-add-button">
                    <button type="button" class="btn btn-success add-button" (click)=addProperty(property)>Add property </button>
                </div>
            </div>
            <div class="card-footer">
                {{property.price}}
            </div>
        </div>
    </div>

    <div class="col-6 container">
        <h3>Saved Properties</h3>
        <div class="card" *ngFor="let savedProperty of savedPropertyList">
            <div class="card-header">
                <img class="img-thumbnail " src={{savedProperty.agency.logo}}>
            </div>
            <div class="card-body">
                <img class="card-img-top" src={{savedProperty.mainImage}}>
                <div class="card-remove-button">
                    <button type="button" class="btn btn-danger remove-button" (click)=removeProperty(savedProperty)>Remove property </button>
                </div>
            </div>
            <div class="card-footer">
                {{savedProperty.price}}
            </div>
        </div>
    </div>
</div>